body{
    margin:0;
}
body{
    transition: all 0.3s;
}
body img{
    max-width:100%;
    height: auto!important;
}
body h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #1e1e1e;
    margin: 8px 0 40px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 130%;
}
body h1::after,
body h2::after{
    content: url("add/Rectangle\ 3\ copy\ 3.png");
}
 body h2{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #1e1e1e;
    margin: 8px 0 40px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 130%;
} 
body p{
    margin-bottom: 15px;
}
body p,
body a,
body div,
body span{
    font-style: normal;
    font-weight: normal;
    font-size: 16pt;
    color: #1e1e1e;
}
body p,
body a,
body div,
body span,
body h1,
body h2,
body h3{
    font-family: 'Open Sans', sans-serif;
}
body p{
    margin:0 0 8px 0;
}
body .button{
    background: linear-gradient(180deg, #8E54E9 0%, #4776E6 100%);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 0px #375cb2;
    max-width: 260px;
}


body .button a,
body .button p{
    font-size: 12pt;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
}

header .menu a:hover,
footer .menu a:hover{
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

header .menu a:hover,
footer .menu a:hover,
.menu a.active{
    border-bottom: 3px solid #ba0152;
}


p.none_size{
    color: #777777;
}

body a,
body a:hover{
    text-decoration: none;
    /*color: inherit;
    font-size: inherit;*/
}

.box{
    max-width:1200px;
    margin: auto;
    padding:70px 8px;
    box-sizing: border-box;
}

.menu .menu--item a{
    font-size: 16px;
    line-height: 21px;
    color: #1e1e1e;
}

header .box_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
}
header .box_header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .box_header .menu_item {
    margin: 8px 10px;
}
main .banner{
    background-image: url(add/Rectangle\ 2\ copy.png);
    height: 34vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
main .banner .box_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
main .banner p,
main .banner span{
    color: #fff;
    text-align: center;
}

main .banner .top > p:nth-child(1){
    font-size: 34px;
    font-weight: 300;
}
main .banner .top > p:nth-child(2){
    font-size: 82px;
    font-weight: 700;
    border-bottom: 3px solid #fff;
}

main .banner .midle > p:nth-child(1){
    font-size: 24px;
    font-weight: 400;
}
main .banner .midle > p:nth-child(2){
    font-size: 36px;
    font-weight: 700;
}
main .banner .midle > p:nth-child(2) span{
    font-size: 40px;
    font-weight: 700;
}

main .banner .bottom{
    display: flex;
    align-items: center;
}


main .banner .bottom .button{
    background: none;
    box-shadow: none;
    border: 2px solid #fff;
    border-radius: 0;
    box-sizing: border-box;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    max-width: 260px;
    margin: 8px;
}
main .banner .bottom .button a,
main .banner .bottom .button p{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
}

main .banner .bottom .button:hover{
    background: #fff;
}
main .banner .bottom .button:hover a,
main .banner .bottom .button:hover p{
    color: #1e1e1e;
}
main .hit .box_hit .text--hit{
    max-width: 920px;
    text-align: center;
    margin: auto;
}

main .gallery{
    display: flex;
    max-width: 100%;
    overflow: hidden;
}
main .gallery img{
    transition: all .5s;
    
}
main .gallery img:hover{
    transform: scale(1.3);
}

main .size{
    background-image: url("add/Rectangle\ 557.png") ;
    background-position: center;
    background-size: contain;
}
main .size .box_size > div{
    padding: 40px;
    max-width: 940px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 15%);
}


main .size .box_size > div table{
    margin: auto;
    max-width: 880px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

main .size .box_size > div table tr:nth-child(odd){
    background: #f3f3f3;
}

main .size .box_size > div table tr td{
    font-size: 14pt;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
}
main .size .box_size > div table tr td:nth-child(1){
    text-align: left;
}
main .size .box_size > div table tr:nth-child(3) td:not(:nth-child(1)),
main .size .box_size > div table tr:nth-child(4) td:not(:nth-child(1)),
main .size .box_size > div table tr:nth-child(5) td:not(:nth-child(1)){
    font-size: 14pt;
    font-weight: 400;
}


main .catalog .tabs .control{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 18px 8px;
}


main .catalog .tabs .control .button{
    background: #f3f3f3;
    box-shadow: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    max-width: 340px;
    margin: 2px;
}

main .catalog .tabs .control .button a,
main .catalog .tabs .control .button p{
    font-size: 18px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #1e1e1e;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
}
main .catalog .tabs .control .button a:hover,
main .catalog .tabs .control .button p:hover{
    transform: scale(1.1);
}

main .catalog .tabs .control .active{
    background: #ba0152;
}



main .catalog .tabs .control .active a,
main .catalog .tabs .control .active p{
    color: #fff;
}

main .catalog .frame{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    margin: auto;
}
main .catalog .frame{
    flex-basis: 33%;
}
main .catalog .frame .product{
    position: relative;
    max-width: 300px;
    border: 1px solid #dbdbdf;
    margin: 12px 8px;
}
main .catalog .frame .product .sale_percent{
    background: #ba0152;
    padding: 20px;
    width: fit-content;
    border-radius: 50%;
    position: absolute;
    margin: 10px;
    width: 60px;
        height: 60px;
        display: flex;
    justify-content: center;
    align-items: center;
}
main .catalog .frame .product .sale_percent p{
    color: #fff;
    font-weight: 700;
    font-size: 20pt;
    
}

main .catalog .frame .product .name_product p{
    font-size: 14pt;
    font-weight: 900;
    text-align: center;
}

main .catalog .frame .product .size_product{
    display: flex;
    justify-content: center;
}
main .catalog .frame .product .size_product p{
    padding: 10px;
    font-size: 14pt;
}
main .catalog .frame .product .size_product p.none_size{
    color: #ceced3;
}
main .catalog .frame .product .colore_product{
    display: flex;
    justify-content: center;
}
main .catalog .frame .product .colore_product > div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 8px;
}
main .catalog .frame .product .colore_product .black_product{
    
    background-color: #000;
}

main .catalog .frame .product .colore_product .red_product{
    background-color: #ff0000;
}
main .catalog .frame .product .price_product{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .catalog .frame .product .price_product > p{
    margin: 8px;
}
main .catalog .frame .product .price_product > p.sale_product{
    font-size: 24px;
    color: #8c8c8c;
}
main .catalog .frame .product .price_product > p.newPrice_product{
    font-size: 30px;
    color: #ba0152;
}
main .catalog .frame .product .button {
    margin: 8px auto 25px;
}
main .catalog .frame .product .button{

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
main .catalog .frame .product .button:hover a{
    transform: scale(1.15);
}
main .catalog .frame .product .button:hover{
    filter: hue-rotate(25deg);
}

main .catalog .frame{
    display: none;
}

main .catalog .show{
    display: flex;
}


main .order .point_order{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    margin: auto;
}
main .order .point_order > div{
    flex-basis: 25%;
    max-width: 205px;
    text-align: center;
}

main .order .point_order > div p{
    font-size: 16px;
    text-align: center;
}
main .order .point_order > div img{
    margin-bottom: 60px;
}   

main .order{
    background-color: #f7f2f4;
}





/***********************popup*********************************************/
.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 10000000000;
    visibility: hidden;
    opacity: 0;
    backface-visibility: hidden;
    transition: all 0.8s;

    display: flex;
  }
  
.b-popup-content .close {
    position: absolute;
    top: 0px;
    right: 15px;
  }
 .b-popup-content .close a{
    font-size: 45px;
  }
  .b-popup .b-popup-content {
    position: relative;
    width: 80%;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.8s;
    margin: auto;
    max-width: 700px;
  }
  .b-popup .b-popup-content > div {
    padding: 8px 0;
  }
  
  .b-popup .b-popup-content > div{
    max-width: 700px;
    margin: auto;
  }

  .b-popup .product .name_product p{
    font-size: 14pt;
    font-weight: 900;
    text-align: center;
}

.b-popup .product .size_product{
        display: flex;
        justify-content: center;
    }
    .b-popup .product .size_product p{
        padding: 10px;
        font-size: 14pt;
    }
    .b-popup .product .size_product p.none_size{
        color: #ceced3;
    }
    .b-popup .product .colore_product{
        display: flex;
        justify-content: center;
    }
    .b-popup .product .colore_product > div{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 8px;
    }
    .b-popup .product .colore_product .black_product{
        
        background-color: #000;
    }

    .b-popup .product .colore_product .red_product{
        background-color: #ff0000;
    }
    .b-popup .product .price_product{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .b-popup .product .price_product > p{
        margin: 8px;
    }
    .b-popup .product .price_product > p.sale_product{
        font-size: 24px;
        color: #8c8c8c;
    }
    .b-popup .product .price_product > p.newPrice_product{
        font-size: 30px;
        color: #ba0152;
    }
    .b-popup .product .button {
        margin: 8px auto 25px;
    }
    .b-popup .product .button{

        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }
    .b-popup .product .button:hover a{
        transform: scale(1.15);
    }
    .b-popup .product .button:hover{
        filter: hue-rotate(25deg);
    }
    .b-popup .product{
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .b-popup .product > div:nth-child(2){
        padding: 0 20px;
    }
    


    .b-popup .product > div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    
    .b-popup .product > div:nth-child(2) select,
    .b-popup .product > div:nth-child(2) input{
        border: 1px solid #ceced3;
        margin: 8px;
        padding: 8px 20px;
        text-align: center;
        font-size: 14pt;
        width: 280px;
        width: 280px;
        box-sizing: border-box;
    }

    .b-popup .product > div:nth-child(2) .button{
        min-width: 280px;
        margin: 8px;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .b-popup .product img{
        margin-bottom: -6px;
    }
    
    @media screen and (max-width:1024px) {
    
        main .size .box_size > div table tr td {
            font-size: 10pt;
        }
        main .size .box_size > div table tr:nth-child(3) td:not(:nth-child(1)), main .size .box_size > div table tr:nth-child(4) td:not(:nth-child(1)), main .size .box_size > div table tr:nth-child(5) td:not(:nth-child(1)) {
            font-size: 10pt;
        }
        main .catalog .show {
            justify-content: center;
        }
        main .banner {
            background-image: url('add/Rectangle\ 3.png');
            height: 65vw;
        }
    }
    @media screen and (max-width:870px) {
        header .box_header .menu{
            display: none;
        }
        header .box_header {
            justify-content: center;
        }
        body p, body a, body div, body span {
            font-size: 14pt;
        }
        body h1 {
            font-size: 26px;
        }
        body h2 {
            font-size: 30px;
        }
    }
    @media screen and (max-width:768px) {
         main .banner .top > p:nth-child(2) {
            font-size: 55px;
        }
        main .banner .top > p:nth-child(1) {
            font-size: 22px;
        }
        main .banner .midle > p:nth-child(1) {
            font-size: 20px;
        }
        main .banner .midle > p:nth-child(2) {
            font-size: 22px;
        }
        main .banner .midle > p:nth-child(2) span {
            font-size: 24px;
        }    
        main .banner .bottom .button a, main .banner .bottom .button p {
            font-size: 12px;
        } 
        
        main .catalog .frame .product {
            max-width: 280px;
        }
        main .catalog .tabs .control .button a, main .catalog .tabs .control .button p {
            font-size: 16px;
        }
        .b-popup .product {
            flex-direction: column;
        }
        .b-popup .b-popup-content {
            max-width: 300px;
        }
        .b-popup-content .close a {
            filter: invert(1);
        }
    }
    
    @media screen and (max-width:640px) {
        main .order .point_order > div {
            flex-basis: 50%;
            max-width: 210px;
            margin: 20px 10px;
        }
        main .size .box_size > div table tr td {
            padding: 10px 10px;
        }
        main .order .point_order {
            justify-content: center;
        }
        .b-popup .product .price_product {
            flex-wrap: wrap;
        }
    }
    
    @media screen and (max-width:500px) {
        main .size .box_size > div table tr{
            display: flex;
            /* flex-direction: column; */
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        main .size .box_size > div table tr td:nth-child(1){
            flex-basis: 100%;
            text-align: center;
        }
        main .size .box_size > div table tr td:not(:nth-child(1)){
            flex-basis: 28%;
        }
        main .banner {
            background-image: url('add/bannermobile.png');
            height: 94vw;
        }
        main .banner .top > p:nth-child(2) {
            font-size: 40px;
        }
        main .banner .top > p:nth-child(1) {
            font-size: 17px;
        }
        main .banner .midle > p:nth-child(1) {
            font-size: 15px;
        }
        main .banner .midle > p:nth-child(2) {
            font-size: 22px;
        }
        main .banner .midle > p:nth-child(2) span {
            font-size: 24px;
        }    
        main .banner .bottom .button a, main .banner .bottom .button p {
            font-size: 11px;
        } 
        main .banner .bottom {
            flex-direction: column;
        }
        main .banner .bottom .button {
            width: 200px;
        }
        main .gallery > div:nth-child(3),
        main .gallery > div:nth-child(4),
        main .gallery > div:nth-child(5){
            display: none;
        }
            
    }
    @media screen and (max-width:320px) {
        main .banner .top > p:nth-child(2) {
            font-size: 38px;
        }
        main .banner .top > p:nth-child(1) {
            font-size: 15px;
        }
        main .banner .midle > p:nth-child(1) {
            font-size: 13px;
        }
        main .banner .midle > p:nth-child(2) {
            font-size: 20px;
        }
        main .banner .midle > p:nth-child(2) span {
            font-size: 22px;
        }    
        main .banner .bottom .button a, main .banner .bottom .button p {
            font-size: 10px;
        } 
        main .banner .bottom {
            flex-direction: column;
        }
        main .banner .bottom .button {
            width: 195px;
        }
        .b-popup .b-popup-content {
            width: 100%;
        }
    }

    
.md-show {
    visibility: visible;
    opacity: 1;
  }
